*{
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
}
header{
	margin: 100px auto;
	width: 1200px;
	height: 230px;
	background-color: #E0FFFF;
}

div.contenedor{
	margin-top: 70px;
	width: 200px;
	height: 230px;
	float: left;
	-webkit-transition: height .4s;
	-moz-transition: height .4s;
	-o-transition: height .4s;
}
div.contenedor2{
	margin-top: 70px;
	width: 200px;
	height: 230px;
	float: right;
	-webkit-transition: height .4s;
	-moz-transition: height .4s;
	-o-transition: height .4s;
}
div#uno{
	background-color: rgb(230,230,250);
}

div#dos{
	background-color: rgb(175,238,238);
}

div#tres{
	background-color: rgb(127,255,212);
}

div#cuatro{
	background-color: rgb(72,209,204);
}

div#cinco{
	background-color: rgb(0,206,209);
}

div#seis{
	background-color: rgb(32,178,170);
}

div#siete{
	background-color: rgb(70,130,180);
}

div#ocho{
	background-color: rgb(176,196,222);
}

div#nueve{
	background-color: rgb(176,224,230);
}

div#diez{
	background-color: rgb(173,216,230);
}

div#once{
	background-color: rgb(135,206,250);
}

div#doce{
	background-color: rgb(0,191,255);
}

div#trece{
	background-color: rgb(30,144,255);
}


img.icon{
	display: block;
	margin: 50px auto;
	background-color: rgba(255,255,255,.15);
	width: 40px;
	padding: 20px;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	-o-border-radius: 20%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition: box-shadow .4s;
	-moz-transition: box-shadow .4s;
	-o-transition: box-shadow .4s;
}

a.texto{
	font-size: 1.2em;
	color: black;
	text-align: center;
	padding: 10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
	-moz-transition: padding-top .4s;
	-o-transition: padding-top .4s;
}

div.contenedor:hover, div.contenedor2:hover {
	height: 250px;
}

div.contenedor:hover a.texto, div.contenedor2:hover a.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon, div.contenedor2:hover img.icon{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(55,255,255,.6);
}


body{
	background-color:#E0FFFF;
}

h1{ 
	margin-left: 450px;
	font-family: ComicRelief,Arial, Helvetica, sans-serif;
	text-align: justify;
}
h3{
	margin-top: 20px;
	font: oblique bold 120% cursive; 
}

footer{
	background-color: #4169E1;
}
footer h3{
	font-family: ComicRelief,Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-top: 800px;
	margin-left: 900px;
	font-family: , Helvetica, sans-serif;
	text-align: justify;
	background-color: #4169E1;
}

@font-face{ 
	font-family: 'ComicRelief';
	src: url('../fuentes/ComicRelief-webfont.eot');
	src: url('../fuentes/ComicRelief-webfont.eot?iefix') format('eot'),
	     url('../fuentes/ComicRelief-webfont.woff') format('woff'),
	     url('../fuentes/ComicRelief-webfont.ttf') format('truetype'),
	     url('../fuentes/ComicRelief-webfont.svg#webfont') format('svg');
}

