header{
	margin-top: 30px;
	margin-left: 300px;
	margin-bottom: 20px;
	background-color: #E0FFFF;
}

h1{ 
	margin-left: 250px;
	font-family: ComicRelief,Arial, Helvetica, sans-serif;
	text-align: justify;
}

body{
	background-color:#E0FFFF;
}
#Primera{
	margin-top: 50px;
	background-color: #AFEEEE;
	margin-left: 300px;
	margin-right: 295px;
	border-style: double;
}
ul
{
   	width: 750px;
   	list-style-type: none;
   	list-style-position: outside;
   	margin: 0px;
   	padding: 0px;
}
li{
  	padding: 12px;
 	border-bottom: 1px solid #eee;
}

li:first-child, li:last-child 
{
	border-bottom:1px solid #777;
}

button{
	font-size:20px;
    font-family:Arial,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:100px;
    height:40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

footer h3{
	font-family: ComicRelief,Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-top: 370px;
	margin-left: 900px;
	font-family: , Helvetica, sans-serif;
	text-align: justify;
}

@font-face{ 
	font-family: 'ComicRelief';
	src: url('../fuentes/ComicRelief-webfont.eot');
	src: url('../fuentes/ComicRelief-webfont.eot?iefix') format('eot'),
	     url('../fuentes/ComicRelief-webfont.woff') format('woff'),
	     url('../fuentes/ComicRelief-webfont.ttf') format('truetype'),
	     url('../fuentes/ComicRelief-webfont.svg#webfont') format('svg');
}